%h2 Your seat reservations
  

%table
  %thead
    %tr
      %th Passenger name
      %th Meal
      %th Surcharge 
      %th
  %tbody{data-bind: "foreach: seats"}
    %tr
      %td
        %input{data-bind: "value: name"}
      %td
        %select{data-bind: "options: $root.availableMeals, value: meal, optionsText: 'mealName'"}
      %td{data-bind: "text: formattedPrice"}
      %td
        %a{data-bind: "click: $root.removeSeat", href: '#'} Remove


  %button{data-bind: "click: addSeat"} Reserve Another Seat




%script{src: "http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"}

%script{src: "step2.js"}